{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Inicio</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_usuarios/">Usuarios</a></li>
        </ul>


	</div>
</nav>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<p><h4>Id: <span class="label label-default">{{ usuario.id }}</span></h4></p>
	<p><h4>Nombre de Usuario: <span class="label label-default">{{ usuario.username }}</span></h4></p>
	<p><h4>Nombre: <span class="label label-default">{{ usuario.first_name }}</span></h4></p>
	<p><h4>Apellido: <span class="label label-default">{{ usuario.last_name }}</span></h4></p>
	<p><h4>Email: <span class="label label-default">{{ usuario.email }}</span></h4></p>
</div>
<br>
<div align="center">
		<a href="/adm_usuarios/"><button type="button" class="btn btn-default">Volver</button></a>
</div>

{% endblock %}


