{% extends 'base.html' %}



{% block titulo %}Administrar Clientes{% endblock %}

{% block encabezado %}Administrar Clientes{% endblock %}


{% block contenido %}
<head>
<style>

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
</style>
</head>
    <script >
    function clicked(e)
    {
        if(!confirm('Está seguro que desea eliminar este cliente?'))
            e.preventDefault();
    }
</script>
          <table class="table table-hover" width="80%" border="2" id="tablaCliente" rel="tabla">
                 <theader>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                 </theader>
                 <tbody>
                        {% for cliente in lista_clientes %}
                            {% if not cliente.borrado_logico %}
                               <tr border="2" class="active">
                                   <td>{{ cliente.empresa }}</td>
                                   <td>Activo</td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.cliente.views.verCliente' cliente.id %}">Ver Cliente</a>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.cliente.views.modificarCliente' cliente.id %}">Modificar Cliente</a>
                                        <a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="{% url 'apps.cliente.views.cambiarEstado' cliente.id %}" > Eliminar</a>

                                    </td>
                                </tr>
                            {% endif %}
                            {% empty %}
                                <li style="text-align: center">No hay Clientes disponibles</li>
                        {% endfor %}
                 </tbody>
          </table>
     <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href="nuevo/"><li class="icon-plus"></li>Crear Cliente</a>
            <a class="btn" href="/"><li class="icon-arrow-left"></li> Regresar</a>
        </ul>
   </div>
    {% block mensaje %}{% endblock %}
{% endblock %}