{% extends 'base.html' %}

{% block navegacion %}

{% endblock %}

{% block titulo  %}Nuevo Cliente{% endblock %}
{% block encabezado %}
	<h1 style="color: red ">Registra un Nuevo Cliente</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href="/adm_clientes/"><li class="icon-arrow-left"></li> Volver</a>
        </ul>
   </div>
{% endblock %}