<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% block contenido %}
    <center>
        <h1>Modificar Rol {{dato.name|title}}</h1>
    </center>
    <form action="" method="post">{% csrf_token %}
        {{ rol }}

        <input type="submit" value="Guardar cambios">
    </form>
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href="/roles"><li class="icon-arrow-left"></li> Regresar</a>
        </ul>
    </div>
{% endblock %}