<!DOCTYPE html>
{% extends 'base.html' %}
{% block contenido %}
<head>
    <style>

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
</style>
<body>
  <h2>Buscar Roles</h2>
  <form action='{% url 'apps.roles.views.buscarRol'%}'>
    <label for="q">Nombre: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Buscar">
  </form>
</body>
</head>
<center><h1>Administracion de Roles</h1></center>
<center>
    <table class='table table-hover' width="80%" border="2">
    <theader>
        <tr>
            <th>Nombre</th>
            <th colspan="3">Opciones</th>
        </tr>
    </theader>
    {% for dato in datos %}
        <tr border="2" class="active">
            <td>{{ dato.name }}</td>
            <td>
                <a href="/roles/ver_detalle/{{ dato.pk }}?" class="btn btn-primary btn-xs">Detalle</a>
                <a href="/roles/eliminar/{{ dato.pk }}?" class="btn btn-primary btn-xs">Eliminar Rol</a>
                <a href="/roles/modificar/{{ dato.pk }}?" class="btn btn-primary btn-xs">Modificar Rol</a>
           </td>

        </tr>
        {% empty %} <li>Aún no hay roles registrados</li>
    {% endfor %}

	</table>
</center>

</form>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <a class="btn" href="/roles/crear"><li class="icon-plus"></li> Agregar un Rol</a>
        <a class="btn" href="/"><li class="icon-arrow-left"></li> Regresar</a>
    </ul>
</div>






    {% endblock %}
