{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">



    <script type='text/javascript'>
        $(document).ready(function(){
        $.jqplot('chartdiv',{{ lista }},
        { title:'Burn Down Chart',
          axes:{yaxis:{min:0, max:10}},
          series:[{color:'#5FAB78'}]
        });
        })
    </script>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<center>
        <div id='chartdiv' style="height:30%;width:40%; "></div>
    </center>
</body>
</html>