{% extends 'base.html' %}





{% block contenido %}
<div class="content-secondary">
        <p><h4>Id: <span class="label label-default">{{ actividad.id }}</span></h4></p>
	    <p><h4>Nombre de la Actividad: <span class="label label-default">{{ actividad.nombre }}</span></h4></p>
</div>
<br>
<div align="center">
		<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/{{ id_flujo }}/adm_actividades"><button type="button" class="btn btn-default">Volver</button></a>
</div>

{% endblock %}


