{% extends 'base.html' %}
{% block titulo %}Eliminar Flujo{% endblock %}
{% block encabezado %}Eliminar {{ fase.Nombre }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p class="alert alert-danger">Esta seguro que desea eliminar el flujo? Este cambio no podra
    deshacerse</p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'apps.flujos.views.eliminarFlujo' id_proyecto flujo.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/">No</a>
    </p>


{% endblock %}