<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Modificar User Story </h1>
    </center>

     {% if mensaje != null %}
                <center>
                <div class="alert-warning">{{ mensaje }}</div>
                </center>
            {% endif %}


<form action=""  method="post">{% csrf_token %}
    <table style="color: Black">{{ form }}</table>

    <input type="submit" value="Guardar cambios">

</form>


      <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><li class="icon-arrow-left"></li> Volver</a>

            </ul>
       </div>
{% endblock %}