{% extends 'base.html' %}




{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<h2>User Story Creado con Exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><button type="button" class="btn btn-default">OK</button></a>
		

</div>
{% endblock %}