{% extends 'base_proyecto.html' %}


{% block titulo %}Administrar HU{% endblock %}

{% block encabezado %}User Story{% endblock %}



{% block contenido %}
<head>
<style>
    select{
        color: black !important;
        background-color: gray !important}

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }

</style>
</head>

          <table class='table table-hover' width="80%" border="2" id="tablaHU" rel="tabla">
                 <theader>
                        <tr>
                            <th>Nombre</th>
                            <th>Flujo</th>
                            <th>Usuario</th>
                            <th>Prioridad</th>
                            <th colspan="3">Opciones</th>
                        </tr>
                 </theader>
                 <tbody>
                    {% for hu in lista_hu %}
                                       <tr border="2" class="active">
                                           <td>{{ hu.nombre }}</td>
                                           <td>{{ hu.flujo }}</td>
                                           <td>{{ hu.usuario_asociado }}</td>
                                           <td>{{ hu.prioridad }}</td>

                                             <td>
                                                 <center>

                                                   <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.modificarUserStory' id_proyecto hu.id %}">Modificar</a></li>



                                                     <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.verUserStory' id_proyecto hu.id %}">Ver</a></li>


                                                     <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.confEliminarUserStory' id_proyecto hu.id %}">Borrar</a></li>

                                                 {% if hu.tiene_sprint == False%}
                                                     <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.asignarFlujo' id_proyecto hu.id %}">Asignar Flujo</a></li>
                                                {% endif %}

                                                 {% if hu.tiene_sprint == True%}
                                                     <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.actualizarProgresoUserStory' id_proyecto hu.id %}">Registrar Actividad</a></li>
                                                {% endif %}
                                                 </center>
                                            </td>
                                        </tr>

                     {% empty %}
                        <li style="text-align: center">No hay Users Stories disponibles</li>
                    {% endfor %}


                 </tbody>
          </table>
        <div class="well sidebar-nav">

            <ul class="nav nav-list">
                {% if perms.user_stories.crear_user_story %}
        		<a href="nuevo/" class="btn">Crear User Story</a>
                {% endif %}
                <a href='/adm_proyectos/abrir_proyecto/{{ id_proyecto }}'>Volver a Proyecto</a>
            </ul>
       </div>
{%endblock%}
