{% block titulo %}Ingresa al sistema{% endblock %}
<link rel='stylesheet' href='{{STATIC_URL}}/bootstrap/themes/darkly/css/bootstrap.css'>
{% if mensaje %}
  			<div class="alert alert-danger"><h3><p align="center"><b>{{ mensaje }}</b></p></h3></div>
	{% endif %}
{% block encabezado %} 
	<h1 align="center">Ingresar</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table align="center">{{formulario}}</table>
		<p align="center"><input type='submit' value='Ingresar'/></p>
        <center>
        <br><br/><a href="{% url 'reset_password'  %}">Olvide mi contraseña</a></center>
	</form>

{% endblock %}