{% extends 'base_proyecto.html' %}



{% block titulo %}Administrar Equipo{% endblock %}

{% block encabezado %}Equipo{% endblock %}



{% block contenido %}
<head>
<style>

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
</style>
</head>
    <script >
    function clicked(e)
    {
        if(!confirm('Está Seguro?'))
            e.preventDefault();
    }
    </script>
          <table class="table" id="tablaEquipo" rel="tabla">
                 <theader>
                        <tr>
                            <th>Miembro</th>
                            <th>Rol</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                 </theader>
                 <tbody>
                    {% for miembro in equipo %}
                                       <tr class="active">
                                           <td>{{ miembro.miembro }}</td>
                                           <td>{{ miembro.rol }}</td>

                                            <td>
                                                <a class="btn btn-primary btn-xs" onclick="clicked(event)" href="confirmar_eliminar/{{ miembro.id }}/">Quitar</a></li>
                                            </td>
                                        </tr>
                        {% empty %}
                        <li style="text-align: center">No hay miembros en el equipo</li>
                    {% endfor %}

                 </tbody>
          </table>

    {% block mensaje %}{% endblock %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">


            {% if perms.proyecto.anhadir_miembro%}
                <a class="btn" href="nuevo/"><li class="icon-plus"></li> Añadir Miembro</a>
            {% endif%}
            <a href='/adm_proyectos/abrir_proyecto/{{ id_proyecto }}'>Volver a Proyecto</a>
        </ul>
   </div>
{% endblock %}