{% extends 'base.html' %}




{% block contenido %}
<div class="content-secondary">
	<h2>Miembro Agregado con Exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_equipo/"><button type="button" class="btn btn-default">OK</button></a>
		

</div>
{% endblock %}