{% extends 'base.html' %}

{% block navegacion %}

{% endblock %}

{% block titulo  %}Nuevo Miembro{% endblock %}

{% block contenido %}
    <head>
        <style type="text/css">
        select{
        color: black;
        background-color: gray }
        form {
            align-items: center;
        }
        </style>
    </head>
    <div align="center">
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
        <p></p>
		<p><input class="btn btn-primary btn-xs" type='submit' value='Registrar'/></p>
	</form>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/adm_equipo/"><li class="icon-arrow-left"></li> Regresar</a>
        </ul>
   </div>
{% endblock %}